{% extends "base.jinja2" %}
{% block head %}
{{super()}}

<style>

.thumbnail{
    max-width: 300px;
    margin: 2px;
}

.tag {
    margin: 1px;
}

.del_btn {
    display: none;
    position: absolute;;
    padding: 0px;
}

.tn {
    max-height: 300px;
}

</style>
{% endblock%}

{% block content %}
<div id='projects_container'>
    <div class="row">
      {% for photo in photos %}
      <div class="thumbnail">
        <button class='btn btn-danger btn_xs del_btn' id='{{photo.id}}'>
            <span class='glyphicon glyphicon-remove'></span>
        </button>
        <a href="{{photo.url}}">
          <img src="{{photo.tn_url}}" class="tn" />
        </a>
        <div class="caption">
            {% for tag in photo.tags %}
            <span class="btn btn-primary btn-xs tag">
                {{tag.attr}}
            </span>
            {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts%}
{{super()}}
<script>
$(document).ready(function(e) {

    var $container = $('#projects_container').isotope({
      itemSelector : '.thumbnail',
      layoutMode : 'fitRows'
    });

    $(".thumbnail").on('mouseenter', function(){
        $(this).find(".del_btn").show();
    }).on('mouseleave', function() {
        $(this).find(".del_btn").hide();
    });

    $('.del_btn').click(function() {

        var photo_id = $(this).attr('id');

        $.ajax({
          type: "POST",
          url: "/album/delete",
          data: {photo_id: photo_id},
          success: function(data) {
              $('#' + photo_id).parent().remove();
              $container.isotope('layout');
          }
        });
    })

    $('.tag').click(function() {
        var tag = $(this).text();
        $.ajax({
          type: "POST",
          url: "/album/search",
          data: {tag: tag},
          success: function(res) {
              var w = window.open('about:blank', 'windowname');
            w.document.write(res);
            w.document.close();
          }
        });
      });
 });
</script>
{% endblock %}
