{% extends "tagBase.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content%}
{{super()}}
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 container">
    {{ wtf.quick_form(form, action="/album/search")}}
</div>
{% endblock %}
