{% extends "base.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(function(){
    // Instantiate the Bloodhound suggestion engine
    var attrs = {{attrs | safe}};
    local = []
    for(var i = 0; i < attrs.length; i++) {
        local.push({tag: attrs[i]})
    }

    var tags = new Bloodhound({
        datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.tag); },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: local
    });

    tags.initialize();

    // Set up an on-screen console for the demo
    var screenConsole = $('#console');

    // Write callback data to the screen when tags are added or removed in demo inputs
    var logCallbackDataToConsole = function(added, removed) {
        screenConsole.append('Tag Data: ' + (this.val() || null) + ', Added: ' + added + ', Removed: ' + removed + '\n');
    };

    // Create typeahead-enabled tag inputs
    $('.tag-input').tagInput({
        allowDuplicates: false,
        typeahead: true,
        typeaheadOptions: {
            highlight: true
        },
        typeaheadDatasetOptions: {
            displayKey: 'tag',
            source: tags.ttAdapter()
        },
        onTagDataChanged: logCallbackDataToConsole
    });

    // Create basic tag inputs with no typeahead
    $('.tag-input-basic').tagInput({
        onTagDataChanged: logCallbackDataToConsole
    });

    $('#results a[rel="external"]').attr('target', '_blank');

});

$('#tags').addClass('tag-input');
</script>
{% endblock %}
