{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}
Register
<form method="POST" action="/auth/signup" accept-charset="UTF-8" role="form">
  {{ form.csrf_token }}
  {{ render_field(form.username, placeholder="Username", autofocus="") }}
  {{ render_field(form.password, placeholder="Password") }}
  <div>
  <label>
    <input type="checkbox" name="remember" value="1"> Remember Me
  </label>
  <a role="button" href="">Forgot your password?</a><span class="clearfix"></span>
  </div>
  <button type="submit" name="submit">Sign up</button>
</form>
