{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{% extends "bootstrap/base.html" %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
{% block title %}Sample App for Flask-Bootstrap{% endblock %}

{# While we are at it, we also enable fixes for legacy browsers. First we
   import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block styles%}
{{super()}}
<link href="{{ url_for('static', filename='css/mab-jquery-taginput.css') }}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated%}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/auth/logout">Log out</a></li>
          </ul>
        <li class="dropdown">
        {% else%}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Auth<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/auth/login">Log in</a></li>
            <li><a href="/auth/signup">Sign up</a></li>
          </ul>
        <li class="dropdown">
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Album<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/album">My album</a></li>
            <li><a href="/album/upload">Upload</a></li>
            <li><a href="/album/search">Search</a></li>
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Effect<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/effect/blur">Blur</a></li>
            <li><a href="/effect/edge">Edge</a></li>
            <li><a href="/effect/blending">Blending</a></li>
            <li><a href="/effect/hdr">HDR</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mab-jquery-taginput.js') }}"></script>
{% endblock %}
